<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Sign Page
        </title>
        <meta charset="utf-8">                
        <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style2.css"> -->

        <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/login.css">
   
    </head>
    <body>
      <!-- check form vaidation -->
     
  
        <!-- <div class="place">
            <h2>Culinary Artist</h2><br>
        </div>
        <div class="w3-container w3-white w3-panel w3-border w3-round-large size">
        <form action="/signupuser" class="formset" method="POST">
            <h2 id="log"><u>Login</u></h2>
            <h4>Username:</h4>
            <input  class="w3-border w3-round" type="text" name="username" placeholder="Tim" required>
            <h4>Mobile Number:</h4>
            <input type="text" class="w3-border w3-round" name="mobile" required="required" placeholder="12345678910" />
            <h4>Email:</h4>
            <input type="text" class="w3-border w3-round" name="email" id="identity"  required="required" placeholder="example@mail.com">
            <h4 >Password:</h4>
            <input  class="w3-border w3-round" type="password" name="password" placeholder="password" required>
			<h4>Confirm Password:</h4>
			<input type="password" class="w3-border w3-round" name="ConfirmPassword" id="password2" placeholder="Confirm Password" required>
			<input type="submit"  class="w3-button w3-round w3-blue btn" value="Signup" />
            <div class="anchor"><a href="/">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspHome</a></div>
        </form>
        </div> -->


        <main>
            <div class="container">
                <% if (error && error.length > 0) {%>
                 <br>
                 <div class="alert alert-danger text-center" role="alert" id="close">
                    <%= error %>
                </div>
             <% } %>
            <% if (success && success.length > 0) {%>
                <br>
            <div class="alert alert-success text-center" role="alert" id="close">
             <%= success %>
            </div>
            <% } %>
             </div>
        <div class="container-fluid">
              
            <div class="row">
              <div class="col-sm-6 login-section-wrapper">
                <div class="brand-wrapper login-wrapper my-auto">
                  <!-- <img src="assets/images/logo.svg" alt="logo" class="logo"> -->
                  <!-- <button class="float-right btn btn-lg btn-warning text-white" style="color:  #fdbb28;">Home </button> -->
                  <button class="btn login-btn float-right" style="font-size: 15px;" onclick="window.location.href='/'">Home</button>
                </div>
                
               
                <div class="login-wrapper my-auto">
                  
                  <form action="/signupuser" class="formset" method="POST">
                    <!-- <h2 id="log"><u>Login</u></h2> -->
                    <h1 class="login-title log">Sign Up</h1>
                    <div class="form-group">
                    <h4>Username:</h4>
                    <input  class="form-control" type="text" name="username" placeholder="User Name" required>
                    </div>
                    <div class="form-group">
                    <h4>Mobile Number:</h4>
                    <input  class="form-control" type="text"  name="mobile" required="required" placeholder="Mobile Number" required />
                    </div>
                    <div class="form-group">
                    <h4>Email:</h4>
                    <input class="form-control" type="text"  name="email" id="identity"  required="required" placeholder="example@mail.com">
                    </div>
                    <div class="form-group">
                    <h4 >Password:</h4>
                    <input class="form-control"  type="password"  name="password" id="password" placeholder="Password" onkeyup="check_pass()" required>
                    </div>
                    <div class="form-group">
                    <h4>Confirm Password:</h4>
                    <input class="form-control" type="password"  name="confirm_password" id="confirm_password" placeholder="Confirm Password" onkeyup="check_pass()" required />
                    </div>
                    <input type="submit"  class="btn btn-block login-btn" value="Signup"  id="submit" name="submit"  disabled/>
                  </form>
                  <!-- <div class="anchor"><a href="/password_reset" >Forgot password?</a></div><br>
                  <div class="anchor">&nbsp&nbsp<a href="/signup">Create account</a></div><br> -->
         
                </div>
              </div>
              <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="/images/signinimage.jpg" alt="login image" class="login-img"  style="width: 761px;height: 720px;" >
              </div>
            </div>
          </div>


        
    </main>
    <script src="../javascripts/timer.js"></script>
    <script>
        function check_pass() {
            if(((document.getElementById('password').innerHTML.length==0) || 
            (document.getElementById('confirm_password').innerHTML.length == 0))) {
                document.getElementById('submit').disabled = true;
            }
     if ((document.getElementById('password').value ==document.getElementById('confirm_password').value)) {
        document.getElementById('submit').disabled = false;
    } else{
        document.getElementById('submit').disabled = true;
    }
}
    </script>
    </body>
</html>